SetEnv APPLICATION_ENV development

RewriteEngine On

#ignore .ico files
RewriteRule ^.*\.ico / [G]

#if the file exists, allow it
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*) - [L]

#if we get to this point, the file could not be found
#so assume it is a zend rewrite and map it to /index.php
RewriteCond %{REQUEST_URI} !^/index.php$
RewriteRule ^.* /index.php [L]
